.fixed {
    height: 40px;
    width: 120px;
    position: fixed;
    bottom: 70px;
    right: 32px;
    padding: 1px 15px 3px 2px; 
    border-radius: 50px;
    font-size: large;
    font-weight: normal;
    color: #ffff;
    box-shadow: 2px 2px 2px rgb(160, 158, 158);
    text-align: right;
   }