.container {
    text-align: center; 
    position: sticky; 
    padding-top: 15%;
    min-width: auto !important;
    min-height: auto !important;
    max-width: auto !important;
    max-height: auto !important;
    width: auto !important;
    height: auto !important;
}
img { 
    min-width: auto !important;
    min-height: auto !important;
    max-width: auto !important;
    max-height: auto !important;
    width: auto !important;
    height: auto !important;
}