<div class="row">
    <div class="col-sm-12">
      <app-card cardTitle=Usuario [options]="true">
        <hr>
        <div class="row">
          <div class="col-md-12">
            <form action="javascript:">
              <div class="form-group">
                <label for="">nome</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Brendo de oliveira de santana">
              </div>
            </form>            
          </div>  
          <div class="col-md-2">
            <form action="javascript:">
              <div class="form-group">
                <label for="">Usuario</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="BrendoO">
              </div>
            </form>
          </div> 
          <div class="col-md-2">
            <form action="javascript:">
                <div class="form-group">
                    <label for="table">Tipo usuario</label>
                    <select class="form-control" id="table">
                        <option></option>
                        <option>Supervisor</option>
                        <option>Vendedor</option>
                    </select>
                </div>
            </form>
        </div>
          <div class="col-md-4">
            <form action="javascript:">
              <div class="form-group">
                <label for="">Senha</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="@Inicio">
              </div>
            </form>
          </div>        
        </div>
        <div class="row">
          <div class="col-md-2">
            <form action="javascript:" class="was-validated">
              <div class="form-group">
                <label for="">Estado de atuação</label>
                <select class="custom-select" required>
                  <option value=""></option>
                  <option value="1">GO</option>
                  <option value="2">SP</option>
                  <option value="3">MT</option>
                </select>
              </div>
            </form>
          </div>
          <div class="col-md-3">
            <form action="javascript:">
              <div class="form-group">
                <label for="">Telefone</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="(##) # ####-####">
              </div>
            </form>
          </div>
        </div>                
        <hr>
        <div class="row">
          <div class="col-auto mr-auto">
            <button type="cancelar" class="btn btn-danger" (click)="voltarRota()">Cancelar</button>
          </div>
          <div class="col-auto">
            <button type="salvar" class="btn btn-primary" (click)="voltarRota()">Salvar</button>
          </div>
        </div>
      </app-card>
    </div>
  </div>