<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle=Usuario [options]="true">
      <hr>
      <div class="row">
        <div class="col-md-10">
          <form action="javascript:">
            <div class="form-group">
              <label for="">Nome</label>
              <input type="text" name="nome" [(ngModel)]="this.nome" class="form-control" placeholder="Nome do usuario">
            </div>
          </form>
        </div>

        <div class="col-md-2">
          <form action="javascript:">
            <div class="form-group">
              <label for="status">Status</label>
              <select class="form-control" name="status" [(ngModel)]="this.status">
                <option *ngFor="let status of listStatus" [ngValue]="status.valor"> {{status.valor}} - {{status.descricao}}</option>
              </select>
            </div>
          </form>
        </div>

        <div class="col-md-2">
          <form action="javascript:">
            <div class="form-group">
              <label for="">Usuário</label>
              <input type="text" name="nomeUsuario" [(ngModel)]="this.nomeUsuario" class="form-control"
                placeholder="Usuario de acesso"
                textMak="['(', /[1-9]/, /\d/, ')', ' ', /\d/, /\d/, /\d/, /\d/, '-', /\d/, /\d/, /\d/, /\d/]">
            </div>
          </form>
        </div>

        <div class="col-md-2">
          <form action="javascript:">
            <div class="form-group">
              <label for="tipo">Tipo usuário</label>
              <select class="form-control" name="tipo" [(ngModel)]="this.tipoUsuario" >
                <option *ngFor="let tipo of tipoUsuarios" [ngValue]="tipo.descricao"> {{ tipo.descricao }}</option>
              </select>
            </div>
          </form>
        </div>
        <div class="col-md-4">
          <form action="javascript:">
            <div class="form-group">
              <label for="">Senha</label>
              <input type="text" name="senha" [(ngModel)]="this.senha" class="form-control"
                placeholder="Senha do usuario de acesso">
            </div>
          </form>
        </div>
      </div>

      <div class="row">

        <div class="col-md-2">
          <form action="javascript:">
            <div class="form-group">
              <label for="estadoAtuacao" class="control-label">Estado de atuação</label>
              <select class="form-control" name="estado" [(ngModel)]="this.estadoAtuacao">
                <option *ngFor="let estado of estados" [ngValue]="estado.sigla">{{estado.nome}}</option>
              </select>
            </div>
          </form>
        </div>


        <div class="col-md-3">
          <form action="javascript:">
            <div class="form-group">
              <label for="">Telefone</label>
              <input type="text" name="telefone" [(ngModel)]="this.telefone" class="form-control"
                placeholder="(##) # ####-####" mask="(00) 0 0000-0000">
            </div>
          </form>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-auto mr-auto">
          <button type="cancelar" class="btn btn-danger" (click)="cancelar()">Cancelar</button>
        </div>
        <div class="col-auto">
          <button type="salvar" class="btn btn-primary" (click)="salvar()">Salvar</button>
        </div>
      </div>
    </app-card>
  </div>
</div>
