<div class="col-md-12">
    <app-filter cardTitle="Filtros avançados">
        <div class="row">
            <div class="col-md-12">
                <form action="javascript:">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="">Catalogo:</label>
                                <input type="text" class="form-control" id="idcatalogo" aria-describedby="codigo do catalogo" placeholder="Codigo do catalogo">
                            </div>
                            <div class="col-md-4">
                                <label for="">Fornecedor:</label>
                                <input type="text" class="form-control" id="idfornecedor" aria-describedby="codigo do fornecedor" placeholder="Codigo do fornecedor">
                            </div>
                        </div>
                    </div>
                    <div class="row btn-page">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary"><i class="feather icon-search"></i> Pesquisar</button>
                            <button type="button" class="btn btn-light">Limpar campos</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </app-filter>
</div>

<div class="col-md-12">
    <app-card cardTitle="Catalogos" blockClass="table-border-style">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="text-center">Codigo</th>
                        <th class="text-center">Descrição</th>
                        <th class="text-center">Cod. fornecedor</th>
                        <th class="text-center">Descrição</th>                     
                        <th class="text-center">Usr. cadastro</th>
                        <th class="text-center">Data cadastro</th>
                        <th class="text-center">Produtos</th>
                        <th class="text-center">Ações</th>   
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">1</td>
                        <td class="text-center">TABELA - 09/2020</td>
                        <td class="text-center">1</td>
                        <td class="text-center">D Angelis</td>
                        <td class="text-center">rodrigoF.supervisor</td>
                        <td class="text-center">06/02/2021</td>
                        <td class="text-center">                            
                            <button type="button" class="btn btn-icon">
                                <i class="feather icon-eye"> </i>
                            </button>
                        </td>
                        <td class="text-center">                            
                            <div role="" class="btn-group-sm btn-group">
                                <!--Editar-->
                                <button type="button" class="btn btn-icon" (click)="detalheCatalogo(1)">
                                  <i class="feather icon-edit"> </i>
                                </button>
                                <!--Excluir-->
                                <button type="button" class="btn btn-icon" (click)="excluir()">
                                  <i class="feather icon-trash-2"> </i>
                                </button>
                              </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </app-card>
</div>
<button class="fixed feather icon-plus btn btn-primary" (click)="detalheCatalogo(0)"> Cadastrar</button>