<div class="col-md-12">
    <app-filter cardTitle="Filtros avançados">
        <div class="row">
            <div class="col-md-12">
                <form action="javascript:">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <label for="">Descrição:</label>
                                <input type="text" class="form-control" id="idDescricao" aria-describedby="Descricao"
                                    placeholder="Descrição">
                            </div>
                            <div class="col-md-3">
                                <label for="">CNPJ:</label>
                                <input type="text" class="form-control" id="idCNPJ" aria-describedby="CNPJ"
                                    placeholder="CNPJ">
                            </div>
                            <div class="col-md-3">
                                <label for="">Inscrição Estadual:</label>
                                <input type="text" class="form-control" id="idIE" aria-describedby="IE"
                                    placeholder="Inscrição Estadual">
                            </div>
                        </div>
                    </div>
                    <div class="row btn-page">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary" (click)="pesquisar()"><i class="feather icon-search"></i>Pesquisar</button>
                            <button type="button" class="btn btn-light">Limpar campos</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </app-filter>
</div>

<div class="col-md-12">
    <mx-formulario-aterrissagem
        #formulario
        [titulo]="'Fornecedores'"
        [colunas]="colunas"
        [acoes]="acoes"
        [filtros]="filtros"
        [servico]="'api/fornecedor/obter-fornecedores/pesquisar'"
        [semPaginacao]="true"
        [tamanho]="'660px'">
    </mx-formulario-aterrissagem>
</div>
<button class="fixed feather icon-plus btn btn-primary" (click)="detalheFornecedor(0)"> Cadastrar</button>