<div class="col-sm-12">
  <app-filter cardTitle="Filtros avançados">
    <div class="row">
      <div class="col-md-3">
        <form action="javascript:">
          <div class="form-group">
            <div class="row">
              <div class="col-md-3">
                <label for="">Cliente:</label>
              </div>
              <div class="col-md-9">
                <input type="cliente" class="form-control" id="idcliente" aria-describedby="codigo do cliente"
                  placeholder="Codigo do cliente">
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Pesquisar</button>
        </form>
      </div>
    </div>
  </app-filter>
</div>

<div class="col-md-12">
  <app-card cardTitle="Clientes" blockClass="table-border-style">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="text-center">#</th>
            <th class="text-center">Nome</th>
            <th class="text-center">Endereço</th>
            <th class="text-center">Telefone</th>
            <th class="text-center">Email</th>
            <th class="text-center">CPF/CNPJ</th>
            <th class="text-center">R.G/I.E</th>
            <th class="text-center">Usr. cadastro</th>
            <th class="text-center">Data cadastro</th>
            <th class="text-center">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center text-muted" style="width: 80px;">1</td>
            <td class="text-center" style="width: 80px;">Lojas maranata</td>
            <td class="text-center">Rua tambaqui Qd:03</td>
            <td class="text-center">3665-5889</td>
            <td class="text-center">maranata@gmail.com</td>
            <td class="text-center">164.658.698-64</td>
            <td class="text-center">57889986</td>
            <td class="text-center">rodrigoF.supervisor</td>
            <td class="text-center" style="width: 200px;">06/02/2021</td>
            <td class="text-center">
              <div role="" class="btn-group-sm btn-group">
                <!--Editar-->
                <button class="btn-shadow btn btn-info" (click)="detalheCliente(1)">Editar</button>
                <!--Excluir-->
                <button class="btn-shadow btn btn-danger" (click)="excluir()">Excluir</button>
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-center text-muted" style="width: 80px;">1</td>
            <td class="text-center" style="width: 80px;">Lojas alo brasil</td>
            <td class="text-center">Avenida pio 12</td>
            <td class="text-center">3665-5889</td>
            <td class="text-center">suportebrasil@gmail.com</td>
            <td class="text-center">164.658.698-64</td>
            <td class="text-center">57889986</td>
            <td class="text-center">rodrigoF.supervisor</td>
            <td class="text-center" style="width: 200px;">06/02/2021</td>
            <td class="text-center">
              <div role="" class="btn-group-sm btn-group">
                <!--Editar-->
                <button class="btn-shadow btn btn-info" (click)="detalheCliente(1)">Editar</button>
                <!--Excluir-->
                <button class="btn-shadow btn btn-danger" (click)="excluir()">Excluir</button>
              </div>
            </td>
          </tr>
      </table>
    </div>
  </app-card>
</div>
<button class="fixed feather icon-plus btn btn-primary" (click)="detalheCliente(0)"> Cadastrar</button>