<div class="col-md-12">
  <app-filter cardTitle="Filtros avançados">
      <div class="row">
          <div class="col-md-12">
              <form action="javascript:">
                  <div class="form-group">
                      <div class="row">
                          <div class="col-md-3">
                              <label for="">Clientes:</label>
                              <input type="text" class="form-control" name="IDescricao" [(ngModel)]="this.filtros.descricao"
                                  placeholder="Codigo do cliente">
                          </div>
                      </div>
                  </div>
                  <div class="row btn-page">
                      <div class="col-md-12">
                          <button type="button" class="btn btn-primary" (click)="pesquisar()"><i class="feather icon-search"></i>
                              Pesquisar</button>
                          <button type="button" class="btn btn-light">Limpar campos</button>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </app-filter>
</div>

<div class="col-md-12">
  <mx-formulario-aterrissagem
      #formulario
      [titulo]="'Clientes'"
      [colunas]="colunas"
      [acoes]="acoes"
      [filtros]="Filtros"
      [servico]="'api/cliente/obter-clientes/pesquisar'"
      [semPaginacao]="true"
      [tamanho]="'660px'">
  </mx-formulario-aterrissagem>
</div>

<button class="fixed feather icon-plus btn btn-primary" (click)="detalheCliente(0)"> Cadastrar</button>