<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle=Catalogo [options]="true" style="height: 15px;">  
      <hr>    
      <div class="row">
        <div class="col-md-3">
          <form action="javascript:">
            <div class="form-group">
              <label for="">Descrição</label>
              <input type="text" 
                     class="form-control" 
                     name="IDescricao"
                     [(ngModel)]="this.descricaoCatalogo"
                placeholder="Descrição do catalogo">
            </div>
          </form>
        </div>
        <div class="col-sm-2">
          <form action="javascript:">
            <div class="form-group">
              <label for="fornecedores" class="control-label">Fornecedor</label>
              <select class="form-control" name="IfornecedorId" [(ngModel)]="this.fornecedorId">
                <option *ngFor="let fornecedor of fornecedores" [ngValue]="fornecedor.id">{{fornecedor.id}} - {{fornecedor.descricao}}</option>
              </select>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-auto mr-auto"></div>
        <div class="col-auto">
          <button type="button" 
                  class="btn btn-success" 
                  (click)="adicionarProduto()">Adicionar produto</button>          
        </div>
      </div>
      <br>
      <mx-formulario-aterrissagem
        #formularioProd 
        [titulo]="'Produtos'"
        [colunas]="colunasProdutos"
        [acoes]="acoesProdutos"
        [dataSource]="listProdutos"
        [semPaginacao]="true"
        [tamanho]="'450px'">
      </mx-formulario-aterrissagem>

      <hr>
      <div class="row">
        <div class="col-auto mr-auto"></div>
        <div class="col-auto">
          <button type="button" class="btn btn-light" (click)="salvar()" ><i class="feather icon-check"></i>&nbsp;&nbsp;Salvar</button>
          <button type="button" class="btn btn-light" (click)="novo()"><i class="feather icon-file"></i>&nbsp;&nbsp;Novo</button>
          <button type="button" class="btn btn-light" (click)="excluir()"><i class="feather icon-trash"></i>&nbsp;&nbsp;Excluir</button>
          <button type="button" class="btn btn-light" (click)="cancelar()"><i class="feather icon-x"></i>&nbsp;&nbsp;Cancelar</button>
        </div>
      </div>
    </app-card>
  </div>
</div>