<div class="row">
    <div class="col-sm-12">
      <app-card cardTitle=Cliente [options]="true">
        <hr>
        <div class="row">
          <div class="col-md-6">
            <form action="javascript:">
              <div class="form-group">
                <label for="">Nome</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Rodrigo">
              </div>
            </form>
          </div>
          <div class="col-md-3">
            <form action="javascript:">
              <div class="form-group">
                <label for="">CPF/CNPJ</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="###.###.###-##">
              </div>
            </form>
          </div>
          <div class="col-md-3">
            <form action="javascript:">
              <div class="form-group">
                <label for="">R.G/I.E</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="########">
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <form action="javascript:">
              <div class="form-group">
                <label for="">Telefone</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="(##) # ####-####">
              </div>
            </form>
          </div>
          <div class="col-md-8">
            <form action="javascript:">
              <div class="form-group">
                <label for="">E-mail</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="cliente@gmail.com">
              </div>
            </form>
          </div>
        </div>
        <div class="row">          
          <div class="col-md-2">
            <form action="javascript:">
              <div class="form-group">
                <label for="">Estado</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  placeholder="Goiás">
              </div>
            </form>
          </div>
          <div class="col-md-3">
            <form action="javascript:">
              <div class="form-group">
                <label for="">Cidade</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  placeholder="Goiania">
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <form action="javascript:">
              <div class="form-group">
                <label for="">Logradouro</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  placeholder="Rua tambaqui cond. Gran oasis">
              </div>
            </form>
          </div>
          <div class="col-md-6">
            <form action="javascript:">
              <div class="form-group">
                <label for="">Complemento</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  placeholder="QD: 10 apt: 524 bl: 15">
              </div>
            </form>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-auto mr-auto">
            <button type="cancelar" class="btn btn-danger" (click)="voltarRota()">Cancelar</button>
          </div>
          <div class="col-auto">
            <button type="salvar" class="btn btn-primary" (click)="voltarRota()">Salvar</button>
          </div>
        </div>
      </app-card>
    </div>
  </div>