<router-outlet></router-outlet>

<div class="col-sm-12">
    <ngb-accordion [closeOthers]="true" activeIds="static-1" class="next-accordion">
        <ngb-panel id="static-3">
            <ng-template ngbPanelTitle style="width: 1500px;">
                <button class="btn-icon btn-icon-only btn btn-link" (click)="ChangeIcon(troca)" style="width: 1525px; border-style: solid;">                            
                    <div class="row">
                        <div class="col-auto mr-auto">
                            <h5>Filtros avancados</h5>
                        </div>
                        <div class="col-auto">
                            <i class="feather icon-eye"></i>
                        </div>
                    </div>
                </button>  
                <hr>
            </ng-template>            
            <ng-template ngbPanelContent>
                
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</div>

<div class="col-md-12">
    <app-card cardTitle="Catalogos" blockClass="table-border-style">
        <div class="table-responsive">
            <perfect-scrollbar style="overflow: auto; position: relative;">
            <table class="table table-hover">
                <thead>
                    <tr>
                      <th class="text-center">Cod. tabela</th>            
                      <th class="text-center">Tabela</th>            
                      <th class="text-center">Codigo</th>            
                      <th class="text-center">Referência</th>
                      <th class="text-center">Dimensões</th>
                      <th class="text-center">1000</th>
                      <th class="text-center">1400</th>
                      <th class="text-center">2000</th>
                      <th class="text-center">2500</th>
                      <th class="text-center">3000</th>
                      <th class="text-center">5000</th>
                      <th class="text-center">Usr. cadastro</th>
                      <th class="text-center">Data cadastro</th>
                      <th class="text-center">Ações</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-center text-muted" style="width: 80px;">1</td>
                      <td class="text-center text-muted" style="width: 80px;">TABELA - 09/2020</td>
                      <td class="text-center text-muted" style="width: 80px;">61578</td>
                      <td class="text-center" style="width: 80px;">3 LG 2 BR ( 2 ASS1,00 ) </td>
                      <td class="text-center">2,55X0,88X0,95</td>
                      <td class="text-center">3.384,00</td>
                      <td class="text-center">3.508,00</td>
                      <td class="text-center">3.601,33</td>
                      <td class="text-center">3.767,72</td>
                      <td class="text-center">3.818,67</td>
                      <td class="text-center">5.358,67</td>
                      <td class="text-center">rodrigoF.supervisor</td>
                      <td class="text-center" style="width: 200px;">06/02/2021</td>
                      <td class="text-center">
                        <div role="" class="btn-group-sm btn-group">
                          <!--Editar-->
                          <button class="btn-shadow btn btn-info" (click)="detalheCatalogo()">Editar</button>
                          <!--Excluir-->
                          <button class="btn-shadow btn btn-danger" (click)="excluir()">Excluir</button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
            </perfect-scrollbar>
        </div>
    </app-card>
</div>