$mx-verde-light: #8ec140;
$mx-verde-light-600: #7FAA33;
$mx-verde-light-500: #9EC152;
$mx-verde-light-400: #BAD66E;
$mx-verde-light-300: #CFE28A;
$mx-verde-light-200: #DFF489;
$mx-verde-light-100: #EDF9A5;

$mx-amarelo-light: #f39c11;
$mx-amarelo-light-600: #f39c11;
$mx-amarelo-light-500: #f39c11;
$mx-amarelo-light-400: #f39c11;
$mx-amarelo-light-300: #f39c11;
$mx-amarelo-light-200: #f39c11;
$mx-amarelo-light-100: #f39c11;

$mx-azul: #00427A;
$mx-azul-500: #3557AA;
$mx-azul-400: #5679C1;
$mx-azul-300: #7196D8;
$mx-azul-200: #83ADEA;
$mx-azul-100: #A4CDFF;

$mx-azul-light: #186096;
$mx-azul-light-500: #347FAD;
$mx-azul-light-400: #5EA7CC;
$mx-azul-light-300: #7DC0DB;
$mx-azul-light-200: #A4DBED;
$mx-azul-light-100: #D0F4FC;

$mx-vermelho: #c1392b;

$mx-sucesso: $mx-verde-light;
$mx-alerta:$mx-amarelo-light;
$mx-erro: $mx-vermelho;