:host {
  .listagem-aterrissagem {
    height: calc(75vh - 110px);
    width: 100%;
  }
  ::ng-deep {
    .listagem-aterrissagem {
      .progress-linear {
        position: fixed !important;
        bottom: 0px !important;
        .container {
          margin: 0px !important;
          max-width: 100%;
        }
      }
        .datatable-row-center {
            user-select: none;
            cursor: pointer;
        }
        .datatable-header-cell:active {
            background: rgb(231, 231, 231);
        }
        .ngx-datatable.material {
            .datatable-header-cell[title='Ações'] {
                .datatable-header-cell-template-wrap {
                    text-align: center;
                }
            }
        }
        // .datatable-body-row{
        //     margin-right: 20px;
        // }
        .datatable-body-row:hover{
            background: #f8f8f8;
        }
        .datatable-body-row:active {
            background: #efefef;
        }

        .datatable-body .datatable-row-wrapper {
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        }
    }
    .datatable-row-center {
      user-select: none;
      cursor: pointer;

    .mat-icon-button{
        width: 22px !important;
        height: 22px !important;
    }

    .coluna-acao {
        text-align: left;
        margin-top: -8px;
        width: 100%;
    }
    .datatable-header-cell:active {
      background: rgb(231, 231, 231);
    }
    .ngx-datatable.material {
      .ngx-datatable.material {
        .col-center {
          text-align: center !important;
        }
        .datatable-header-cell[title="Ações"] {
          .datatable-header-cell-template-wrap {
            text-align: center;
          }
        }
        background: #fff; // box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
        &.striped {
          .datatable-row-odd {
            background: #eee;
          }
        }

        &.single-selection,
        &.multi-selection,
        &.multi-click-selection {
          .datatable-body-row {
            &.active,
            &.active .datatable-row-group {
              background-color: #d1d1d1;
              color: #fff;
            }
            &.active:hover,
            &.active:hover .datatable-row-group {
              background-color: #d1d1d1;
              color: #fff;
            }
            &.active:focus,
            &.active:focus .datatable-row-group {
              background-color: #d1d1d1;
              color: #fff;
            }
          }
        }

        &:not(.cell-selection) {
          .datatable-body-row {
            &:focus,
            &:focus .datatable-row-group {
              background-color: #ddd;
            }
          }
        }

        &.cell-selection {
          .datatable-body-cell {
            &:focus,
            &:focus .datatable-row-group {
              background-color: #ddd;
            }

            &.active,
            &.active .datatable-row-group {
              background-color: #d5e1f2;
              color: #fff;
            }

            &.active:hover,
            &.active:hover .datatable-row-group {
              background-color: #193ae4;
              color: #fff;
            }

            &.active:focus,
            &.active:focus .datatable-row-group {
              background-color: #2041ef;
              color: #fff;
            }
          }
        }

        /**
                 * Shared Styles
                 */
        .empty-row {
          height: 50px;
          text-align: left;
          padding: 0.5rem 1.2rem;
          vertical-align: top;
          border-top: 0;
        }

        .loading-row {
          text-align: left;
          padding: 0.5rem 1.2rem;
          vertical-align: top;
          border-top: 0;
        }

        /**
                 * Global Row Styles
                 */
        .datatable-header,
        .datatable-body {
          .datatable-row-left {
            background-color: #fff;
            background-position: 100% 0;
            background-repeat: repeat-y;
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAYAAAD5PA/NAAAAFklEQVQIHWPSkNeSBmJhTQVtbiDNCgASagIIuJX8OgAAAABJRU5ErkJggg==);
          }

          .datatable-row-right {
            background-position: 0 0;
            background-color: #fff;
            background-repeat: repeat-y;
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAYAAAD5PA/NAAAAFklEQVQI12PQkNdi1VTQ5gbSwkAsDQARLAIGtOSFUAAAAABJRU5ErkJggg==);
          }
        }

        /**
                 * Header Styles
                 */
        .datatable-header {
          border-bottom: 1px solid rgba(0, 0, 0, 0.12);

          .datatable-header-cell {
            text-align: left;
            padding: 0.9rem 1.2rem;            
            color: rgba(0, 0, 0, 0.54);
            vertical-align: bottom;
            font-size: 12px;
            font-weight: 500;

            .datatable-header-cell-wrapper {
              position: relative;
            }

            &.longpress {
              .draggable::after {
                transition: transform 400ms ease, opacity 400ms ease;
                opacity: 0.5;
                transform: scale(1);
              }
            }

            .draggable::after {
              content: " ";
              position: absolute;
              top: 50%;
              left: 50%;
              margin: -30px 0 0 -30px;
              height: 60px;
              width: 60px;
              background: #eee;
              border-radius: 100%;
              opacity: 1;
              filter: none;
              transform: scale(0);
              z-index: 9999;
              pointer-events: none;
            }

            &.dragging {
              .resize-handle {
                border-right: none;
              }
            }
          }

          .resize-handle {
            border-right: solid 1px #eee;
          }
        }

        /**
                 * Body Styles
                 */
        .datatable-body {
          .datatable-row-detail {
            background: #f5f5f5;
            padding: 10px;
          }

          .datatable-group-header {
            background: #f5f5f5;
            border-bottom: solid 1px #d9d8d9;
            border-top: solid 1px #d9d8d9;
          }

          .datatable-body-row {
            .datatable-body-cell {
              text-align: left;
              padding: 0.9rem 1.2rem;
              vertical-align: top;
              border-top: 0;
              color: rgba(0, 0, 0, 0.87);
              transition: width 0.3s ease;
              font-size: 14px;
              font-weight: 400;

              // cell active class
              // &.active {
              //  background: #0829e0
              // }
            }

            .datatable-body-group-cell {
              text-align: left;
              padding: 0.9rem 1.2rem;
              vertical-align: top;
              border-top: 0;
              color: rgba(0, 0, 0, 0.87);
              transition: width 0.3s ease;
              font-size: 14px;
              font-weight: 400;
            }
          }

          .progress-linear {
            display: block;            
            width: 100%;
            height: 5px;
            padding: 0;
            margin: 0;
            position: absolute;

            .container {
              display: block;
              position: relative;
              overflow: hidden;
              width: 100%;
              height: 5px;
              -webkit-transform: translate(0, 0) scale(1, 1);
              transform: translate(0, 0) scale(1, 1);
              background-color: rgb(170, 209, 249);

              .bar {
                
                -webkit-animation: query 0.8s infinite cubic-bezier(0.39, 0.575, 0.565, 1);
                animation: query 0.8s infinite cubic-bezier(0.39, 0.575, 0.565, 1);              
                transition: transform 0.2s linear;
                background-color: rgb(16, 108, 200);
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: 100%;
                height: 5px;
              }
            }
          }
        }

        /**
                 * Footer Styles
                 */
        .datatable-footer {
          border-top: 1px solid rgba(0, 0, 0, 0.12);
          font-size: 12px;
          font-weight: 400;
          color: rgba(0, 0, 0, 0.54);

          .page-count {
            line-height: 50px;
            height: 50px;
            padding: 0 1.2rem;
          }

          .datatable-pager {
            margin: 0 10px;

            li {
              vertical-align: middle;

              &.disabled a {
                color: rgba(0, 0, 0, 0.26) !important;
                background-color: transparent !important;
              }

              &.active a {
                background-color: rgba(158, 158, 158, 0.2);
                font-weight: bold;
              }
            }

            a {
              height: 22px;
              min-width: 24px;
              line-height: 22px;
              padding: 0 6px;
              border-radius: 3px;
              margin: 6px 3px;
              text-align: center;              
              color: rgba(0, 0, 0, 0.54);
              text-decoration: none;
              vertical-align: bottom;

            }

            .datatable-icon-left,
            .datatable-icon-skip,
            .datatable-icon-right,
            .datatable-icon-prev {
              font-size: 20px;
              line-height: 20px;
              padding: 0 3px;
            }
          }
        }

        // Summary row styles
        .datatable-summary-row {
          .datatable-body-row {
            background-color: #ddd;

            // &:hover {
            // 	background-color: #ddd;
            // }

            .datatable-body-cell {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
  .coluna-acao {
    text-align: left;
    width: 100%;
  }
  .editar {
    color: dodgerblue;
  }
  .remover {
    color: red;
  }
}
    .ativo {
        color: red;
    }
    .blocked {
        color: gray;
    }
    .adicionar{
        color: #28a745;
    }

    .border-left{
		border-left: 1px rgba(0,0,0,.12) solid;
	}

	.border-right{
		border-right: 1px rgba(0,0,0,.12) solid;
	}
}