<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle=Empresas [options]="true">
      <hr>
      <div class="row">
        <div class="col-md-9">
          <form action="javascript:">
            <div class="form-group">
              <label for="">Descrição</label>
              <input type="text" name="inputDescricao" [(ngModel)]="this.descricao" class="form-control"
                placeholder="Puzzle inc.">
            </div>
          </form>
        </div>
        <div class="col-md-3">
          <form action="javascript:">
            <div class="form-group">
              <label for="">CNPJ</label>
              <input type="text" name="inputCNPJ" [(ngModel)]="this.cnpj" class="form-control"
                placeholder="99.999.999/9999-99">
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <form action="javascript:">
            <div class="form-group">
              <label for="">Telefone</label>
              <input type="text" name="inputTel" [(ngModel)]="this.telefone" class="form-control"
                placeholder="####-####">
            </div>
          </form>
        </div>
      </div>
      <div class="row">

        <div class="col-md-3">
          <form action="javascript:">
            <div class="form-group">
              <label for="">CEP</label>
              <div class="input-group">
                <input type="text" name="inputCep" [(ngModel)]="this.cep" class="form-control" placeholder="####-####">
                &nbsp;
                <div class="input-group-btn">
                  <button type="button" class="btn btn-icon btn-secondary" (click)="validaCep()" style="box-shadow: none;">
                    <i class="feather icon-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>


        <div class="col-sm-2">
          <form action="javascript:">
            <div class="form-group">
              <label for="estadoEmp" class="control-label">UF</label>
              <select class="form-control" name="Iestado" [(ngModel)]="this.estado">
                <option *ngFor="let estado of estados" [ngValue]="estado.sigla">{{estado.nome}}</option>
              </select>
            </div>
          </form>
        </div>

        <div class="col-sm-2">
          <form action="javascript:">
            <div class="form-group">
              <label for="">Cidade</label>
              <input type="text" name="inputCidade" [(ngModel)]="this.cidade" class="form-control" placeholder="">
            </div>
          </form>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-6">
          <form action="javascript:">
            <div class="form-group">
              <label for="">Logradouro</label>
              <input type="text" name="inputLograd" [(ngModel)]="this.logradouro" class="form-control"
                placeholder="">
            </div>
          </form>
        </div>
        <div class="col-md-6">
          <form action="javascript:">
            <div class="form-group">
              <label for="">Complemento</label>
              <input type="text" name="inputComplement" [(ngModel)]="this.complemento" class="form-control"
                placeholder="">
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <form action="javascript:">
            <div class="form-group">
              <label for="">E-mail</label>
              <input type="email" name="inputEmail" [(ngModel)]="this.email" class="form-control" placeholder="">
            </div>
          </form>
        </div>
      </div>
      
      <hr>
      <div class="row">
        <div class="col-auto mr-auto"></div>
        <div class="col-auto">
          <button type="button" class="btn btn-light" (click)="salvar()" ><i class="feather icon-check"></i>&nbsp;&nbsp;Salvar</button>
          <button type="button" class="btn btn-light" (click)="novo()"><i class="feather icon-file"></i>&nbsp;&nbsp;Novo</button>
          <button type="button" class="btn btn-light" (click)="excluir()"><i class="feather icon-trash"></i>&nbsp;&nbsp;Excluir</button>
          <button type="button" class="btn btn-light" (click)="cancelar()"><i class="feather icon-x"></i>&nbsp;&nbsp;Cancelar</button>
        </div>
      </div>
    </app-card>
  </div>
</div>