<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle=Produto [options]="true">
      <hr>
      <div class="row">

        <div class="col-md-7">
          <form action="javascript:">
            <div class="form-group">
              <label for="">Descrição</label>
              <input type="text" class="form-control" name="IDescricao" [(ngModel)]="this.descricao"
                placeholder="Descrição do produto">
            </div>
          </form>

          <div class="row">
            <div class="col-md-5">
              <form action="javascript:">
                <div class="form-group">
                  <label for="">Unidade de medida</label>
                  <input type="text" class="form-control" name="IUN" [(ngModel)]="this.unidadeMedida"
                    placeholder="Unidade de medida do produto(UN, KG etc...)">
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="col-auto">
          <div class="container">
            <div class="row">
              <div class="col-md-6 offset-md-3">
                <div class="" *ngIf="!previewUrl">
                  <div class="container" style="background-color: rgb(245, 245, 245); 
                                          box-shadow: 2px 2px 2px rgb(160, 158, 158); 
                                          width: 250px; 
                                          height: 150px;
                                          text-align: center; bottom: 50%;"></div>
                </div>
                <div class="" *ngIf="previewUrl">
                  <img [src]="this.previewUrl" style="width: 250px; height: 150px;">
                </div>
                <div class="form-group">
                  <input type="file" name="image" (change)="fileProgress($event)" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-auto mr-auto"></div>
        <div class="col-auto">
          <button type="button" class="btn btn-light" (click)="salvar()" ><i class="feather icon-check"></i>&nbsp;&nbsp;Salvar</button>
          <button type="button" class="btn btn-light" (click)="novo()"><i class="feather icon-file"></i>&nbsp;&nbsp;Novo</button>
          <button type="button" class="btn btn-light" (click)="excluir()"><i class="feather icon-trash"></i>&nbsp;&nbsp;Excluir</button>
          <button type="button" class="btn btn-light" (click)="cancelar()"><i class="feather icon-x"></i>&nbsp;&nbsp;Cancelar</button>
        </div>
      </div>      
    </app-card>
  </div>
</div>
