<div class="col-md-12">
    <app-filter cardTitle="Filtros avançados">
        <div class="row">
            <div class="col-md-12">
                <form action="javascript:">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <label for="">Nome:</label>
                                <input type="text" class="form-control" id="idNome"
                                    aria-describedby="Nome" placeholder="Nome">
                            </div>
                            <div class="col-md-3">
                                <label for="">Login:</label>
                                <input type="text" class="form-control" id="idLogin"
                                    aria-describedby="Login" placeholder="Login">
                            </div>
                            <div class="col-md-3">
                                <label for="">Tipo:</label>
                                <input type="text" class="form-control" id="idTipo"
                                    aria-describedby="Tipo" placeholder="Tipo">
                            </div>
                        </div>
                    </div>
                    <div class="row btn-page">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary"><i class="feather icon-search"></i>Pesquisar</button>
                            <button type="button" class="btn btn-light">Limpar campos</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </app-filter>
</div>

<div class="col-md-12">
    <mx-formulario-aterrissagem
        #formulario
        [titulo]="'Usuarios'"
        [colunas]="colunas"
        [acoes]="acoes"
        [servico]="'/api/usuarios/ObterUsuarios'">
    </mx-formulario-aterrissagem>
</div>

<!-- <div class="col-md-12">
    <app-card cardTitle="Usuarios" blockClass="table-border-style">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">Nome</th>
                        <th class="text-center">Usuário</th>
                        <th class="text-center">Tipo</th>
                        <th class="text-center">Estado de atuação</th>
                        <th class="text-center">Telefone</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Usr. cadastro</th>
                        <th class="text-center">Data cadastro</th>
                        <th class="text-center">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center text-muted" style="width: 80px;">1</td>
                        <td class="text-center" style="width: 80px;">Rafael santana de lima</td>
                        <td class="text-center">RafaelS</td>
                        <td class="text-center">Vendedor</td>
                        <td class="text-center">GO</td>
                        <td class="text-center">(62) 99856-2265</td>
                        <td class="text-center">0 - Ativo</td>
                        <td class="text-center">rodrigoF.supervisor</td>
                        <td class="text-center" style="width: 200px;">06/02/2021</td>
                        <td class="text-center">
                            <div role="" class="btn-group-sm btn-group">
                                Editar
                                <button type="button" class="btn btn-icon" style="box-shadow: none;" (click)="detalheUsuario(1)">
                                    <i class="feather icon-edit"> </i>                                    
                                </button>
                                Excluir
                                <button type="button" class="btn btn-icon" style="box-shadow: none;" (click)="excluir()">
                                    <i class="feather icon-trash-2"> </i>                                    
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </app-card>
</div> -->
<button class="fixed feather icon-plus btn btn-primary" (click)="detalheUsuario(0)"> Cadastrar</button>