<div class="col-md-12">
    <app-filter cardTitle="Filtros avançados">
        <div class="row">
            <div class="col-md-12">
                <form action="javascript:">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <label for="">Nome:</label>
                                <input type="text" class="form-control" name="idNome"
                                    aria-describedby="Nome" placeholder="Nome" [(ngModel)]="this.filtros.nome">
                            </div>
                            <div class="col-md-3">
                                <label for="">Usuario:</label>
                                <input type="text" class="form-control" name="idLogin"
                                    aria-describedby="Login" placeholder="Usuario" [(ngModel)]="this.filtros.usuario">
                            </div>
                            <div class="col-md-2">
                                <form action="javascript:">
                                  <div class="form-group">
                                    <label for="tipo">Tipo usuário</label>
                                    <select class="form-control" name="tipo" [(ngModel)]="this.filtros.tipoUsuario" >
                                      <option *ngFor="let tipo of tipoUsuarios" [ngValue]="tipo.id"> {{ tipo.descricao }}</option>
                                    </select>
                                  </div>
                                </form>
                              </div>
                        </div>
                    </div>
                    <div class="row btn-page">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary" (click)="pesquisar()"><i class="feather icon-search"></i>Pesquisar</button>
                            <button type="button" class="btn btn-light">Limpar campos</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </app-filter>
</div>

<div class="col-md-12">
    <mx-formulario-aterrissagem
        #formulario
        [titulo]="'Usuarios'"
        [colunas]="colunas"
        [acoes]="acoes"
        [filtros]="filtros"
        [servico]="'api/usuarios/obter-usuarios/pesquisar'"
        [semPaginacao]="true"        
        [tamanho]="'660px'">
    </mx-formulario-aterrissagem>
</div>
<button class="fixed feather icon-plus btn btn-primary" (click)="detalheUsuario(0)"> Cadastrar</button>