<div class="col-sm-12">
    <app-filter cardTitle="Filtros avançados">
        <div class="row">
            <div class="col-md-3">
                <form action="javascript:">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <label for="">Usuario:</label>
                            </div>
                            <div class="col-md-9">
                                <input type="usuario" class="form-control" id="idusuario"
                                    aria-describedby="codigo do usuario" placeholder="Codigo do usuario">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Pesquisar</button>
                </form>
            </div>
        </div>
    </app-filter>
</div>

<div class="col-md-12">
    <app-card cardTitle="Pedidos" blockClass="table-border-style">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="text-center">Nº pedido</th>
                        <th class="text-center">Empresa</th>
                        <th class="text-center">Fornecedor</th>
                        <th class="text-center">Cliente</th>
                        <th class="text-center">Obs. pedido/th>
                        <th class="text-center">Prazo</th>
                        <th class="text-center">Cond. pagamento</th>
                        <th class="text-center">usr. cadastro</th>
                        <th class="text-center">Data cadastro</th>
                        <th class="text-center">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center text-muted" style="width: 80px;">1</td>
                        <td class="text-center" style="width: 80px;">1 - Puzzel inc.</td>
                        <td class="text-center">1 - D Angelis</td>
                        <td class="text-center">1 - Rodrigo Barcelos Franco</td>
                        <td class="text-center">Pedido devera ser entregue em 10 dias</td>
                        <td class="text-center">90</td>
                        <td class="text-center">90</td>
                        <td class="text-center">rodrigoF.supervisor</td>
                        <td class="text-center" style="width: 200px;">06/02/2021</td>
                        <td class="text-center">
                            <div role="" class="btn-group-sm btn-group">
                                <!--Editar-->
                                <button class="btn-shadow btn btn-info" (click)="detalhePedido(1)">Detalhe</button>
                                <!--Excluir-->
                                <button class="btn-shadow btn btn-danger" (click)="excluir()">Excluir</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </app-card>
</div>