<div class="col-sm-12">
    <app-filter cardTitle="Filtros avançados">
        <div class="row">
            <div class="col-md-3">
                <form action="javascript:">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <label for="">Produto:</label>
                            </div>
                            <div class="col-md-9">
                                <input type="produto" class="form-control" id="idproduto"
                                    aria-describedby="codigo do produto" placeholder="Codigo do produto">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Pesquisar</button>
                </form>
            </div>
        </div>
    </app-filter>
</div>

<div class="col-md-12">
    <app-card cardTitle="Produtos" blockClass="table-border-style">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">Descrição</th>
                        <th class="text-center">Und. medida</th>
                        <th class="text-center">Usr. cadastro</th>
                        <th class="text-center">Data cadastro</th>
                        <th class="text-center">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center text-muted" style="width: 80px;">1</td>
                        <td class="text-center" style="width: 80px;">ASTI</td>
                        <td class="text-center">UN</td>
                        <td class="text-center">rodrigoF.supervisor</td>
                        <td class="text-center">06/02/2021</td>
                        <td class="text-center">
                            <div role="" class="btn-group-sm btn-group">
                                <!--Editar-->
                                <button type="button" class="btn btn-icon" (click)="detalheProduto(1)">
                                    <i class="feather icon-edit"> </i>
                                </button>
                                <!--Excluir-->
                                <button type="button" class="btn btn-icon" (click)="excluir()">
                                    <i class="feather icon-trash-2"> </i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center text-muted" style="width: 80px;">2</td>
                        <td class="text-center" style="width: 80px;">ASTI</td>
                        <td class="text-center">UN</td>
                        <td class="text-center">rodrigoF.supervisor</td>
                        <td class="text-center">06/02/2021</td>
                        <td class="text-center">
                            <div role="" class="btn-group-sm btn-group">
                                <!--Editar-->
                                <button type="button" class="btn btn-icon" (click)="detalheProduto(2)">
                                    <i class="feather icon-edit"> </i>
                                </button>
                                <!--Excluir-->
                                <button type="button" class="btn btn-icon" (click)="excluir()">
                                    <i class="feather icon-trash-2"> </i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </app-card>
</div>
<button class="fixed feather icon-plus btn btn-primary" (click)="detalheProduto(0)"> Cadastrar</button>