<div class="col-md-12">
    <app-filter cardTitle="Filtros avançados">
        <div class="row">
            <div class="col-md-12">
                <form action="javascript:">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <label for="">Descrição:</label>
                                <input type="text" class="form-control" name="IDescricao" [(ngModel)]="this.filtros.descricao"
                                    placeholder="Descrição">
                            </div>
                        </div>
                    </div>
                    <div class="row btn-page">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary" (click)="pesquisar(this.filtros)"><i class="feather icon-search"></i>
                                Pesquisar</button>
                            <button type="button" class="btn btn-light">Limpar campos</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </app-filter>
</div>

<div class="col-md-12">
    <mx-formulario-aterrissagem
        #formulario
        [titulo]="'Produtos'"
        [colunas]="colunas"
        [acoes]="acoes"
        [filtros]="Filtros"
        [servico]="'api/produto/obter-produtos/pesquisar'"
        [semPaginacao]="true">
    </mx-formulario-aterrissagem>
</div>

<button class="fixed feather icon-plus btn btn-primary" (click)="detalheProduto(0)"> Cadastrar</button>