<div class="row">
    <div class="col-sm-12">
        <app-card cardTitle='Emitir pedido' [options]="true">
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <form action="javascript:">
                        <div class="form-group">
                            <label for="Empresa">Empresa</label>
                            <input class="form-control" list="Empresa" name="Empresa">
                            <datalist id="Empresa">
                                <option value="1-Puzzle inc.">
                            </datalist>
                        </div>
                    </form>
                </div>
                <div class="col-md-4 offset-md-2">
                    <form action="javascript:">
                        <div class="form-group">
                            <label for="fornecedor">Fornecedor</label>
                            <input class="form-control" list="fornecedor" name="fornecedor">
                            <datalist id="fornecedor">
                                <option value="1-D Angelis.">
                            </datalist>
                        </div>
                    </form>
                </div>
                <div class="col-md-2">
                    <form action="javascript:">
                        <div class="form-group">
                            <label for="Catalogo">Catalogo</label>
                            <input class="form-control" list="Catalogo" name="Catalogo">
                            <datalist id="Catalogo">
                                <option value="1-Tabela 09-2019">
                            </datalist>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row justify-content-between">
                <div class="col-md-4">
                    <form action="javascript:">
                        <div class="form-group">
                            <label for="Cliente">Cliente</label>
                            <input class="form-control" list="Cliente" name="Cliente">
                            <datalist id="Cliente">
                                <option value="1-Rodrigo">
                            </datalist>
                        </div>
                    </form>
                </div>
                <div class="col-md-4">
                    <form action="javascript:">
                        <div class="form-group">
                            <label for="">Obs. pedido</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Puzzle inc.">
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="">CPF/CPNJ</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="####-####" disabled="true">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="">Endereço</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="####-####" disabled="true">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="">Complemento</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="####-####" disabled="true">
                    </div>
                </div>
                <div class="col-md-1 offset-md-3">
                    <div class="form-group">
                        <label for="">Prazo</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="30">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1 offset-md-11">
                    <div class="form-group">
                        <label for="">Cond. pagamento</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="30">
                    </div>
                </div>
            </div>

            <hr>
            <div class="col-sm-12">
                <app-card cardTitle="Adicionar produtos" blockClass="table-border-style">
                    <div class="row">
                        <div class="col-md-2">
                            <form action="javascript:">
                                <div class="form-group">
                                    <label for="product">Produto</label>
                                    <input class="form-control" list="product" name="produtos">
                                    <datalist id="product">
                                        <option value="1 - ASTI">
                                    </datalist>
                                </div>
                            </form>
                        </div>

                        <div class="col-md-2">
                            <form action="javascript:">
                                <div class="form-group">
                                    <label for="references">Referencia</label>
                                    <input class="form-control" list="references" name="Referencia">
                                    <datalist id="references">
                                        <option value="3 LG 2 BR ( 2 ASS1,00 )">
                                    </datalist>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-2">
                            <form action="javascript:">
                                <div class="form-group">
                                    <label for="Linha">Linha</label>
                                    <div class="input-group">
                                        <input class="form-control" list="Linha" name="Linha">
                                        <datalist id="Linha">
                                            <option value="1000 - 3.384,00">
                                            <option value="1400 - 3.508,00">
                                            <option value="2000 - 3.601,33">
                                            <option value="2500 - 3.767,72">
                                            <option value="3000 - 3.818,67">
                                            <option value="5000 - 5.358,67">
                                        </datalist>
                                        &nbsp;&nbsp;&nbsp;
                                        <div class="input-group-btn">

                                            <button type="button" class="btn btn-icon btn-secondary" data-toggle="modal"
                                                (click)="exampleModalCenter.show()" style="box-shadow: none;">
                                                <i class="feather icon-list"> </i>
                                            </button>

                                            <app-ui-modal #exampleModalCenter
                                                dialogClass="modal-dialog-scrollable modal-dialog-centered modal-lg">
                                                <div class="app-modal-header">
                                                    <h5 class="modal-title">Produtos</h5>
                                                    <button type="button" class="close basic-close" data-dismiss="modal"
                                                        aria-label="Close" (click)="exampleModalCenter.hide()"><span
                                                            aria-hidden="true">&times;</span></button>
                                                </div>
                                                <div class="app-modal-body">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="">Descrição:</label>
                                                                <input type="email" class="form-control"
                                                                    id="idDescProdModal"
                                                                    placeholder="Codigo ou descrição do produto">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <table class="table table-hover">
                                                        <tbody>
                                                            <tr>
                                                                <td class="text-muted">1 - ASTI</td>
                                                                <td class="text-muted">3 LG 2 BR ( 2 ASS1,00 )</td>
                                                                <td class="text-muted">1000 - 3.384,00</td>
                                                                <td class="text-right"><img width="200"
                                                                        src="assets/images/ASTI.PNG" alt="">
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </app-ui-modal>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-1">
                            <form action="javascript:">
                                <div class="form-group">
                                    <label for="">Qtd</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="0">
                                </div>
                            </form>
                        </div>
                        <div class="col-md-2">
                            <form action="javascript:">
                                <div class="form-group">
                                    <label for="">% Desconto</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="0%">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-auto">
                            <button type="salvar" class="btn btn-success" (click)="voltarRota()">Adicionar</button>
                        </div>
                    </div>
                    <br>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th class="text-center">Descrição</th>
                                    <th class="text-center">Unidade de medida</th>
                                    <th class="text-center">Quantidade</th>
                                    <th class="text-center">Vlr. unitario</th>
                                    <th class="text-center">Vlr. bruto</th>
                                    <th class="text-center">% desconto</th>
                                    <th class="text-center">Total liquido</th>
                                    <th class="text-center">Ações</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td class="text-center">1</td>
                                    <td class="text-center">1 - ASTI</td>
                                    <td class="text-center">UN</td>
                                    <td class="text-center">1</td>
                                    <td class="text-center">3.384,00</td>
                                    <td class="text-center">3.384,00</td>
                                    <td class="text-center">5</td>
                                    <td class="text-center">3.384,00</td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-icon" style="box-shadow: none;"
                                            (click)="excluir()">
                                            <i class="feather icon-trash-2"> </i>
                                        </button>
                                    </td>

                                </tr>

                            </tbody>
                            <tfoot>
                                <tr>
                                    <th class="text-center">Total: </th>
                                    <th class="text-center"></th>
                                    <th class="text-center"></th>
                                    <th class="text-center"></th>
                                    <th class="text-center">3.384,00</th>
                                    <th class="text-center">3.384,00</th>
                                    <th class="text-center">5</th>
                                    <th class="text-center">3.384,00</th>
                                    <th class="text-center"></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </app-card>
            </div>
            <hr>
            <div class="row">
                <div class="col-auto mr-auto">
                    <button type="cancelar" class="btn btn-danger" (click)="voltarRota()">Cancelar</button>
                </div>
                <div class="col-auto">
                    <button type="salvar" class="btn btn-primary" (click)="voltarRota()">Salvar</button>
                </div>
            </div>
        </app-card>
    </div>
</div>